NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# HiveMQ Cloud
HIVEMQ_HOST=
HIVEMQ_PORT=8883
HIVEMQ_USERNAME=
HIVEMQ_PASSWORD=

ESP32_API_KEY=omaggot-secret-key-2024
DATABASE_URL=

TELEGRAM_BOT_TOKEN=

NEXT_PUBLIC_APP_URL=http://localhost:3000
